body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-height: 50vw;
    background-size: auto;
    background-color: rgb(57, 0, 75);
}

.form{
    text-align: center;
    position: relative;
    top:150px;
}
.menu{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    max-width: 70vw;
    height:65vh;
    position: relative;
    top:18vh;
    overflow-x: hidden;
    width: 700px;
}

.element{
    border-bottom: 5px solid rgb(88, 31, 119) ;
    border-left:5px solid rgb(88, 31, 119) ;
    border-radius:20px;
    background-image: linear-gradient(rgb(241, 241, 241), rgb(168, 168, 168));
    height: 250px;
    margin-bottom: 45px;
    width:600px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}
.element h4{
    font-size: 32px;
    margin-left: 40px;
    position: relative;
    top:40px;
}
.element h1{
    font-size: 44px;
    margin-left: 40px;
    position: relative;
    top:40px;
}

.profile{
    height:200px;
    width:180px;
    margin-left:auto;
    margin-right:65px;
    position: relative;
    top:-185px;
}

img{
    height: 200px;
    width:190px;
}

.header{
    font-size:82px;
    position: relative;
    top:80px;
    color:transparent;
    background: linear-gradient(rgb(255, 255, 255), rgb(129, 128, 129));
    background-clip: text;
    border-radius: 20px;
    width:80vw;
    margin-left: auto;
    margin-right: auto;
}

.main{
    text-align: center;   
}

h2{
   position: relative;
   font-size: 57px;
   left:40px;
   color:rgb(196, 195, 195); 
   background-color: transparent;
 

   
}

#Months{
    margin-right: 5px ;
    width: 370px;
    height: 55x;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 12px;
    border: 1px solid rgb(48, 23, 56); 
}

.select-items{
    margin-right: 5px ;
    width: 30px;
    height: 55x;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


button{
    position: relative;
    top: -5px;
    right:-50px;
    height:55px;
    width:200px;
    font-size: 40px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(55, 9, 70); 
    color:white;
    border:1px solid rgb(57, 0, 75)
}


@media screen and (min-device-width:1020px){
    .header{
        font-size: 50px;
        top:30px;
        width: 50vw;
    }

    #form{
        position: relative;
        top: 70px;
    }
    
    #Months{
        width:300px;
        height:40px;
        font-size: 25px;

    }

    button{
        width:160px;
        height:40px;
        font-size: 30px;
        position: inherit;
        top:5px;
    }
    img{
        height:130px;
        width: 120px;
    }

    .element{
        width: 450px;
        height: 200px;
    }

    .profile{
        height: 160px;
        width: 150px;
        margin-left:auto;
        margin-right:65px;
        position: relative;
        top:-107px;
        left:40px; 
    }

    h2{
        font-size: 40px;
    }

    .element h4{
        font-size: 20px;
        position: relative;
        top: 40px;
    }

    .element h1{
        font-size: 28px;
        position: relative;
        top:40px;
    }
    .menu{
      max-width: 550px;  
    }
    
}

@media screen and (min-device-width: 1200px){
    ::-webkit-scrollbar{
        width: 10px;
    }
    ::-webkit-scrollbar-thumb{
        background:rgb(91, 50, 145);
    }
    
    ::-webkit-scrollbar-thumb:hover{
        background:linear-gradient(rgb(91, 50, 145),indigo);
    }

    .header{
        width: 60vw;
    }

    h2{
        font-size: 40px;
    }

}